@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Sofia+Sans:wght@500;800&display=swap');

/* Sofia Sans Bold - Texto telas iniciais
Sofia Sans Medium - Subtitulo
Montserrat Bold - Palavras grifadas
Montserrat Medium - Texto corrido (Aba de noticias e calendario) */

*{
    margin: 0%;
    padding: 0%;
}
:root{
 --preto: #060604;
 --amarelo:#DEA500;
 --branco: #F5F5F5;
}


/* Cabeçalho */

        /* Opções de Navegação */
nav a { 
    color: var(--branco);
    text-decoration: none;
    font-size: 40px;
    font-family: 'Sofia Sans', sans-serif;
    float: left;
    margin: auto 15px;
}

header {
    width: 1454px;
    height: 91px;
    background-color:var(--preto);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 30px 0;
}

.escudo{ 
    width: 12%;
    margin-top: 6px;
}

.redes__cabeçalho{
    display: flex;
    padding: 2px 10px;
    float: right;
    flex-direction: row;
    margin-right: 80px;
}

.instagram{
    margin:auto 10px;
}

.facebook{
    margin: auto 10 px;
}

    /* Rodape */


    footer {
        background-color:var(--preto);
    }
    .total {
        width: auto ;
        padding: 2rem 3rem;
        display: flex;
        justify-content: space-between;
    }
    
    .parte01, .parte02{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .parte01 h1, .parte02 h1{
        font-family: 'Sofia Sans', sans-serif;
        font-size: 30px;
        color: var(--amarelo);
        margin: 10px auto;
    }
    
    .div01, .div02{
        display: flex;
        align-items: center;
        margin: auto;
    }
    
    .div01 img {
        width: 65px;
        height: 60px;
        margin: auto 5px;
    }
    
    .div02 img {
        width: 250px;
        height: 200px;
    }


    /* Laptop L */

@media (max-width: 1440px) { 

     /* Cabeçalho */
   
    header {
        width: 1110px;
        height: 68px;
        background-color: var(--preto);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0px 30px 0;
    }

    nav a {
        color: var(--branco);
        text-decoration: none;
        font-size: 23px;
        font-family: 'Sofia Sans', sans-serif;
        float: left;
        margin: auto 15px;
    }

    .escudo {
        width: 12%;
        margin-top: 6px;
    }


    .instagram{
        margin: auto 10px;
        height: 45px;
    }

    .facebook{
        margin: auto 10px;
        height: 45px;
    }

    /* Rodapé */


    footer {
        background-color:var(--preto);
        width:1110px;
    }

    .total {
        width: auto;
        padding: 2rem 10rem;
        display: flex;
        justify-content: space-between;
    }
    
    .parte01, .parte02{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .parte01 h1, .parte02 h1{
        margin: 15px 60px;
        font-size: 30px;
        color: var(--amarelo);
    }
    
    .div01, .div02{
        display: flex;
        align-items: center;
        margin: auto;
    }
    
    /* Instagram e Facebook Rodapé */
    .div01 img { 
        width: 70px;
        height: 60px;
        margin: 10px;
    }
    
    /* Patrocinadores Rodapé */
    .div02 img {
        width: 150px;
        height: 200px;
    }
    
            Laptop

      /* Cabeçalho */

       header {

        width: 1440px;
        height: 90px;
        background-color:var(--preto);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0px 30px 0;
    
    }

    nav a {
        color:var(--branco);
        text-decoration: none;
        font-size: 20px;
        font-family: 'Sofia Sans', sans-serif;
        float: left;
        margin: auto 10px;
    }
    
    .escudo {
        width: 12%;
        margin-top: 6px;
    }

    .instagram{
        margin: auto 10px;
        height: 35px;
    }

    .facebook{
        margin: auto 10px;
        height: 35px;
    } 


    }

@media (max-width: 1024px){

    /* Cabeçalho */

    header {

        width: 1100px;
        background-color: var(--preto);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0px 30px 0;
    
    }

    nav a {
        color: var(--branco);
        text-decoration: none;
        font-size: 20px;
        font-family: 'Sofia Sans', sans-serif;
        float: left;
        margin: auto 10px;
    }
    
    .escudo {
        width: 12%;
        margin-top: 6px;
    }

    .instagram{
        margin: auto 10px;
        height: 35px;
    }

    .facebook{
        margin: auto 10px;
        height: 35px;
    } 


    }
        
    /* Rodapé */

        footer {
            background-color: var(--preto);
            width: 1110px;
        }
        .total {
            width: auto;
            padding: 2rem 15rem;
            display: flex;
            justify-content: space-between;
        }
        
        .parte01, .parte02{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .parte01 h1, .parte02 h1{
            margin: 15px 80px;
            font-size: 30px;
            color:var(--amarelo);
        }
        
        .div01, .div02{
            display: flex;
            align-items: center;
            margin: auto;
        }
        
        /* Instagram e Facebook Rodapé */
        .div01 img { 
            width: 70px;
            height: 60px;
            margin: 10px;
        }
        
        /* Patrocinadores Rodapé */
        .div02 img {
            width: 150px;
            height: 200px;
}

/* Tablet */

@media (max-width: 768px){
    header{
        width: 768px;
        background-color: var(--preto);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0px 30px 0;
        height: 50px;
    }

    .redes__cabeçalho{
        display: flex;
        padding: 2px 10px;
        float: right;
        flex-direction: row;
        margin-right: 25px;
    }

    .facebook {
        margin: 1px 10px;
        height: 30px;
    }

    .instagram {
        margin: auto 10px;
        height: 30px;
    }
}


/* Mobile */

@media (max-width:425px){
        /* Cabeçalho */

      header {
        width: 930px;
        height: 90px;
        background-color: var(--preto);
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 25px 0px 35px 0;
            
        }  

        nav a {
        color: var(--branco);
        text-decoration: none;
        font-size: 20px;
        font-family: 'Sofia Sans', sans-serif;
        float: left;
        margin: auto 10px;
        display: none;
        }
        
        .escudo {
            height: 160px;
            width: 170px;
            margin-left: -5px;
        }
    
        .instagram{
            margin: auto 10px;
            height: 70px;
        }
    
        .facebook{
            margin: auto 10px;
            height: 70px;
        } 
    
        .redes__cabeçalho{
            display: flex;
            float: right;
            flex-direction: row;
            margin: auto;
            margin-left: 195px;
        }
            
        /* Rodapé */
    
            footer {
                background-color: var(--preto);
                width: 930px;
            }
            
            .total{
                width: 65vh;
                padding: 2rem 10rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            
            .parte01, .parte02{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            
            /* .parte01 h1{
                display: none;
                
            } */
            
            .parte01,.parte02 h1{
                margin: 15px 80px;
                font-size: 30px;
                color:var(--amarelo);
                text-wrap: nowrap;
            }

            .div01{
                display: flex;
                align-items: center;
                margin: auto;
                margin-top: 65px;
            }
            
            .div02{
                display: flex;
                align-items: center;
                margin: auto;
            }
            
            /* Instagram e Facebook Rodapé */
            .div01 img { 
                margin-top: -60px;
            }
            
            /* Patrocinadores Rodapé */
            .div02 img {
                width: 170px;
                height: 200px;
                margin-top: -60px;
    }
}
