@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Sofia+Sans:wght@500;800&display=swap');

/* Sofia Sans Bold - Texto telas iniciais
Sofia Sans Medium - Subtitulo
Montserrat Bold - Palavras grifadas
Montserrat Medium - Texto corrido (Aba de noticias e calendario) */

*{
    margin: 0%;
    padding: 0%;
}


/* Cabeçalho */


nav a {
    color: #F5F5F5;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Sofia Sans', sans-serif;
    float: left;
    margin: auto 15px;
}

header {
    width: 1454px;
    height: 91px;
    background-color: #060604;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 30px 0;
}

.escudo{ 
    width: 12%;
    margin-top: 6px;
}

.redes__cabeçalho{
    display: flex;
    padding: 2px 10px;
    float: right;
    flex-direction: row;
    margin-right: 80px;
}

.instagram{
    margin:auto 10px;
}

.facebook{
    margin: auto 10 px;
}

    /* Rodape */

footer{
    background-color: #060604;
    display: flex;
    height: 330px;
    flex-direction: row;
    justify-content: space-evenly;
}

.rodape__redes{
    height: 57%;
    width: 30%;
    margin: 30px;
}

.rodape__patrocinio{
    margin: auto 15px;
}

.rodape__patrocionio__texto{
    height: 10px;
}

.rodape__patrocionio__amao{
    height: 80%;
}

.rodape__patrocionio__magnum{
    height: 57%;
    width: 30%;
    margin: 30px;
}

.rodape__redes__instagram{
    margin: auto 45px;
}

    /* Laptop L */

@media (max-width: 1440px) { 

     /* Cabeçalho */
   
    header {

        width: 1454px;
        height: 91px;
        background-color: #060604;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0px 30px 0;
    }

    nav a {
        color: #F5F5F5;
        text-decoration: none;
        font-size: 23px;
        font-family: 'Sofia Sans', sans-serif;
        float: left;
        margin: auto 15px;
    }

    .escudo {
        width: 12%;
        margin-top: 6px;
    }


    .instagram{
        margin: auto 10px;
        height: 45px;
    }

    .facebook{
        margin: auto 10px;
        height: 45px;
    }

    /* Rodapé */

    footer{
        background-color: #060604;
        display: flex;
        height: 330px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    h1 {
        font-size: 48px;
        font-family: 'Sofia Sans', sans-serif;
        color: #DEA500;
    }

    .rodape__redes{

     height: 73%;
     width: 30%;
     margin: 0px;
}
    }
    
    .rodape__patrocinio{
        margin: auto 15px;
    }
    
    .rodape__patrocionio__texto{
        height: 10px;
    }
    
    .rodape__patrocionio__amao{
        height: 80%;
    }
    
    .rodape__patrocionio__magnum{
        height: 60%;
        width: 30%;
    }
    
    .rodape__redes__instagram{
        margin: auto 25px;
        height: 70px;
        display: inline;
    }
    
/* Laptop */

@media (max-width:1024px){

       /* Cabeçalho */
    
       header {

        width: 1440px;
        height: 90px;
        background-color: #060604;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0px 30px 0;
    
    }

    nav a {
        color: #F5F5F5;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Sofia Sans', sans-serif;
        float: left;
        margin: auto 10px;
    }
    
    .escudo {
        width: 12%;
        margin-top: 6px;
    }

    .instagram{
        margin: auto 10px;
        height: 35px;
    }

    .facebook{
        margin: auto 10px;
        height: 35px;
    }

    /* Rodapé */

    .rodape__titulo{
    display: flex;
    flex-direction: row;
  }

    .rodape__imgs{
    display: flex;
    justify-content: baseline;
    flex-direction: row;
}

    footer{
    background-color: #060604;
    display: flex;
    height: 330px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1440px;
}
}
