@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Sofia+Sans:wght@500;800&display=swap');

/* Sofia Sans Bold - Texto telas iniciais
Sofia Sans Medium - Subtitulo
Montserrat Bold - Palavras grifadas
Montserrat Medium - Texto corrido (Aba de noticias e calendario) */

*{
    margin: 0%;
    padding: 0%;
}

.temporada{
    background-color: #F7D020;
    color: #000;
    border-radius: 38px;
    font-size: 64px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 1000;
    text-align: center;
    width: 1000px;
    margin: 30px 180px;
}

/* Campeonato Paulista */

.temporada__paulista{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 15px 35px;
}

.temporada__titulo{
    font-size: 48px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
    color: #000;
    padding: 23px;
    margin: auto 15px;

}

.temporada__foto{
    padding: 10px;
    margin: 15px 430px;  
}

/* Taça Independencia */

.taçaindependencia{
    font-size: 48px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
    color: #000;
    padding: 23px;
    margin: auto 15px;

}

.taçaindependencia__texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 15px 35px;
}

.taçaindependencia__foto{
    padding: 10px;
    margin: 20px 430px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

/* Brasileirão Série C */

.brasileiro__c{
    font-size: 48px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
    color: #000;
    padding: 23px;
    margin: auto 15px;
}

.brasileiro__c__texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 15px 35px;
}

.brasileirao__c__foto{
    padding: 10px;
    margin: 15px 175px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

/* Copa do Brasil */

.copa__brasil{
    font-size: 48px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
    color: #000;
    padding: 23px;
    margin: auto 15px;

}

.copa__brasil__texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 15px 35px;
}

.copa__brasil__foto{
    padding: 10px;
    margin: 20px 430px; 
}


@media (max-width: 1440px){
    .temporada{
        background-color: #F7D020;
        color: #000;
        border-radius: 38px;
        font-size: 64px;
        font-family: 'Sofia Sans', sans-serif;
        font-weight: 1000;
        text-align: center;
        width: 960px;
        margin: 30px 240px;
    }
}

@media (max-width:1024px){
    .temporada{
        background-color: #F7D020;
        color: #000;
        border-radius: 38px;
        font-size: 64px;
        font-family: 'Sofia Sans', sans-serif;
        font-weight: 1000;
        text-align: center;
        width: 960px;
        margin: 30px 30px;
    }

    .temporada__foto {
        padding: 10px;
        margin: 15px 220px;
    }

    .taçaindependencia__foto {
        padding: 10px;
        margin: 20px 230px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .brasileirao__c__foto{    
        margin: 35px -26px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 60px;
    }

    .copa__brasil__foto{
        padding: 10px;
        margin: 20px 165px;
    }
}

    /* Tablet */

@media (max-width:768px){

    /* Conteúdo */

    .temporada{
        background-color: #F7D020;
        color: #000;
        border-radius: 38px;
        font-size: 45px;
        font-family: 'Sofia Sans', sans-serif;
        font-weight: 1000;
        text-align: center;
        width: 730px;
        margin: 30px 18px;
    }
    .temporada__foto{
        padding: 10px;
        margin: 15px 116px;
    }

    .taçaindependencia__foto {
        padding: 10px;
        margin: 20px 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .copa__brasil__foto {
        padding: 10px;
        margin: 20px 100px;
    }
    .brasileirao__c__foto {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        margin-top: 220px;
    }

    }


/* Mobile */

@media (max-width:425px){

    /* Titulo Principal */

    .temporada {
    background-color: #F7D020;
    color: #000;
    border-radius: 38px;
    font-size: 19px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 1000;
    text-align: center;
    width: 330px;
    margin: 15px 35px;
    }

    .temporada__foto {
        padding: 10px;
        margin: 0px 100px;
        height: 90px;
    }

    .taçaindependencia__foto {
        margin: 20px 100px;
        display: flex;
        height: 90px;
    }

    .copa__brasil__foto {
        margin: 10px 0px;
        height: 90px;
    }

    .temporada__titulo, .taçaindependencia ,
    .copa__brasil,.brasileiro__c{
        font-size: 20px;
        padding: 24px;
        margin: auto 75px;
        text-wrap: nowrap;
    }

     .brasileiro__c{
        font-size: 20px;
        font-family: 'Sofia Sans', sans-serif;
        font-weight: 500;
        color: #000;
        margin: auto 72px;
        text-wrap: nowrap;
    }

    .temporada__paulista,.taçaindependencia__texto{
        
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 400;
        padding: 2px 0px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-left: -85px;
        margin-right: 156px;
    }

    .brasileiro__c__texto{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 400;
        padding: 2px 0px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-left: -30px;
        margin-right: 90px;
    }

    .copa__brasil__texto{
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 400;
        padding: 2px 0px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin-left: -30px;
        margin-right: 90px;
    }

    }