@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Sofia+Sans:wght@500;800&display=swap');

/* Sofia Sans Bold - Texto telas iniciais
Sofia Sans Medium - Subtitulo
Montserrat Bold - Palavras grifadas
Montserrat Medium - Texto corrido (Aba de noticias e calendario) */

*{
    margin: 0%;
    padding: 0%;
}

/* Texto corrido */

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #000;
    margin: 50px;
}

/* Titulos H1 */

.campanha{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 70px;
    color: #DEA500;
    display: flex;
    justify-content: center;
    margin: 30px;
}


/* Imagens */

.taça__independencia{
    height: 770px;
    width: 1440px;
}


.campanha__medalha{
    height: 600px;
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: 15px 55px;
}

.taça__independencia__img1{
    margin: 10px 140px;
    height: 770px;
}

.taça__independencia__img2{
    margin: 10px 140px;
    height: 770px;
}


@media (max-width:425px){
    
    /* Texto corrido */

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #000;
    padding-left: 5px;
    text-wrap: balance;
    margin-right: -180px;
    margin-top: -3px;
}

/* Titulos H1 */

.campanha{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 55px;
    color: #DEA500;
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
    margin-right: -215px;

}


/* Imagens */

.taça__independencia{
    height: 50vh;
    width: 88vh;
    object-fit: cover;
    margin-top: -10px;
    }


.teste{
    height: 50vh;
    width: 75vh;
    object-fit: cover;
    margin-top: -15px;
    margin-left: 22px;
}


}