@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Sofia+Sans:wght@500;800&display=swap');

/* Sofia Sans Bold - Texto telas iniciais
Sofia Sans Medium - Subtitulo
Montserrat Bold - Palavras grifadas
Montserrat Medium - Texto corrido (Aba de noticias e calendario) */

*{
    margin: 0%;
    padding: 0%;
}

/* Texto corrido */

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #000;
    margin: 30px;
}

/* Titulos H1 */

h1{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 48px;
    color: #DEA500;
    display: flex;
    justify-content: center;
}


.inicio__texto{
    position: absolute;
    top: 310px;
    left: 122px;
}

/* Imagens */

.inicio{
    height: 728px;
    width: 1440px;
}


.Independência__foto{
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 50px;
}

/* Div Texto e Imagem */

.Independência{
    display: flex;
    align-items: stretch;
}

.Independência__texto{
    margin: 50px;
}