@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Sofia+Sans:wght@500;800&display=swap');

/* Sofia Sans Bold - Texto telas iniciais
Sofia Sans Medium - Subtitulo
Montserrat Bold - Palavras grifadas
Montserrat Medium - Texto corrido (Aba de noticias e calendario) */

*{
    margin: 0%;
    padding: 0%;
}

/* Texto corrido */

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #000;
    margin: 30px;
}

/* Titulos H1 */

h1{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 48px;
    color: #DEA500;
    display: flex;
    justify-content: center;
}


.inicio__texto{
    color: #FFF;
    position: absolute;
    top: 310px;
    left: 100px;
    font-size: 57px;
}

.inicio__noticia{
        
    margin: 35px;
    font-size: 70px;
    font-weight: 1000;
}


/* Imagens */

.inicio{
    height: 728px;
    width: 1440px;
}


/* Div Texto e Imagem Taça Independencia*/

.Independência{
    display: flex;
    align-items: stretch;
}

.Independência__texto{
    margin: 60px 40px;
    text-decoration: none;
}

.Independência__titulo{
    margin: 5px 30px;
    font-weight: 800;
    text-decoration: none;
}


.Independência__foto{
    display: flex;
    justify-content: center;
    margin: 50px;
    height: 300px;
}

.Independência__imagem{
    height: 91%;
}

/* Div Texto e Imagem Paulistão/ */

.paulista{
    display: flex;
    align-items: stretch;
}

.paulista__texto{
    margin: 50px;
}

.paulista__titulo{
    margin: 25px;
    font-weight: 800;
}

.paulista__foto{
    
    display: flex;
    justify-content: center;
    margin: 50px;
    height: 315px;
}

.paulista__foto1{
    height: 95%;
}

/* Div Texto e Imagem Paulistão/ */

.brasileirao{
    display: flex;
    align-items: stretch;
}

.brasileirao__texto{
    margin: 50px;
}

.brasileirao__titulo{
    margin: 25px;
    font-weight: 800;
}

.brasileirao__foto img {
    
    display: flex;
    justify-content: center;
    margin: 50px;
    height: 340px;
}


/* Laptop - 1440px */

@media (max-width: 1440px){

    .inicio{
        height: 600px;
    }

    .inicio__texto{
        color: #FFF;
        position: absolute;
        top: 230px;
        left: 60px;
        font-size: 60px;
    }

    .inicio__noticia{
        margin: 35px;
        font-size: 70px;
        font-weight: 1000;
        margin-right: 300px;
    }
    
    .Independência{
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    

    .Independência__foto{
        height: 315px;
    }
    
    .Independência__imagem{
        height: 75%;
    }

    .Independência__texto{
        margin: 55px 5px;
    }

    .Independência__titulo{
        margin-right: 210px;
            font-weight: 800;
            font-size: 45px;
    }

    .paulista__foto1{
        height: 80%;
    }
    

    .brasileirao__foto img{
        display: flex;
        justify-content: center;
        margin: 45px;
        height: 280px;
    }    
}


/* Tablet */

@media (max-width:768px){
    
    .inicio__noticia {
        font-size: 70px;
        font-weight: 1000;
        text-wrap: nowrap;
        margin-left: 700px;
        padding: 20px;
    }

    
}

@media (max-width: 425px){

    .inicio{
        height: 65vh;
        width: 110vh;
        object-fit: cover;
        margin-top: -8px;
        margin-left: 5px;
    }

    .inicio__texto{
        color: #FFF;
        position: absolute;
        top: 250px;
        left: 30px;
        font-size: 45px;
        text-wrap: nowrap;
    }

    .inicio__noticia{
        margin: 35px;
        font-size: 70px;
        font-weight: 1000;
        width: max-content;
    }
    
    /* Taça Independencia */

    .Independência__texto{
        margin: auto 68px;
        display: flex;
        flex-direction: column;
        margin-right: -435px;
    }

    .Independência{
        display: block;
    }

    .Independência__foto {

        margin: 30px 15px; 
        height: 50px;
        margin-left: 450px;
        width: 80px;
    }
      
    /* Paulistão */

    .paulista__titulo{
        margin: auto 68px;
        display: flex;
        flex-direction: column;
        margin-right: -435px;
    }

    .paulista{
        display: block;
    }

    .paulista__foto {
        margin: 30px 15px; 
        height: 530px;
        margin-left: 450px;
        width: 80px;
    }

    .paulista__texto{
        margin: auto 68px;
        display: flex;
        flex-direction: column;
        margin-right: -435px;
    }

    
    /* Brasileirão */
    
    
    .brasileirao{
        display: block;
    }
    
    .brasileirao__titulo{
        margin: auto 68px;
        display: flex;
        flex-direction: column;
        margin-right: -435px;
    }

    .brasileirao__texto{
        margin: auto 68px;
        display: flex;
        flex-direction: column;
        margin-right: -435px;
    }

     .brasileirao__foto {

        margin: 30px 15px; 
        height: 530px;
        margin-left: 450px;
        width: 80px;
    }
}

   


