@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Sofia+Sans:wght@500;800&display=swap');

/* Sofia Sans Bold - Texto telas iniciais
Sofia Sans Medium - Subtitulo
Montserrat Bold - Palavras grifadas
Montserrat Medium - Texto corrido (Aba de noticias e calendario) */

*{
    margin: 0%;
    padding: 0%;
}

:root {
    --preto: #060604;
}

/* Texto corrido */
h1 {
    font-size: 70px;
    font-family: 'Sofia Sans', sans-serif;
    color:#DEA500;
    
}

.bem__vindo {
    position: relative;
    top: 1182px;
    font-size: 91px;
    font-family: 'Sofia Sans', sans-serif;
    color: #DEA500;
    z-index: 1;
    margin: -107px 410px;
    left: -175px;
}

.elenco{
    font-size: 38px;
    font-family: 'Sofia Sans', sans-serif;
    color:#DEA500;
}

.diretoria{
    font-size: 38px;
    font-family: 'Sofia Sans', sans-serif;
    color:#DEA500;
}

.estadio{
    width: 100%;
}

/* Imagens Jogadores */

.elenco__teste{
    border-radius:inherit;
    background-color:var(--preto);
    height: 400px;
}

.elenco__teste1{
    border-radius:inherit;
    background-color: var(--preto);
    height: 400px;
}

.elenco__teste2{
    border-radius:inherit;
    background-color:var(--preto);
    height: 400px;
}

.elenco__teste3{
    border-radius:inherit;
    background-color: var(--preto);
    height: 400px;
}

/* .elenco__jogadores{
    border-radius:inherit;
    background-color: black;
    height: 400px;
} */



/* Laptop L */

@media (max-width:1440px){
    
    .bem__vindo {
        position: absolute;
        top: 850px;
        font-size: 60px;
        font-family: 'Sofia Sans', sans-serif;
        color: #DEA500;
        margin: -103px 210px;
        left: -25px;
        }

        .estadio{
            width: 100%;
            height: 60%;
        }
    
    }

/* Laptop */

@media (max-width: 1024px){
    
    .bem__vindo {
        position: absolute;
        top: 580px;
        font-size: 50px;
        font-family: 'Sofia Sans', sans-serif;
        color: #DEA500;
        margin: 10px 200px;
        left: -20px;
        }
    
    .estadio {
        width: 1110px;
    }
}

/* Tablet */

@media (max-width: 768px){

    .estadio{
        width: 768px;
    }

    .bem__vindo{
        position: absolute;
        top: 530px;
        font-size: 40px;
        font-family: 'Sofia Sans', sans-serif;
        color: #DEA500;
        text-wrap: nowrap;
        margin-left: 75px;
        }
}

/* Mobile */

@media (max-width: 425px){

    .estadio{
        height: 70vh;
        width: 110vh;
    }

    .bem__vindo{
        position: absolute;
        top: 570px;
        margin: 20px 70px;
        font-size: 50px;
        font-family: 'Sofia Sans', sans-serif;
        font-weight: 900;
        color: #DEA500;
        text-wrap: nowrap;
    }
    
    .elenco{
        font-size: 38px;
        font-family: 'Sofia Sans', sans-serif;
        color: #DEA500;
        font-weight: 700;
        margin: 10px 45px;
    }

    .diretoria{
        font-size: 38px;
        font-family: 'Sofia Sans', sans-serif;
        color: #DEA500;
        font-weight: 700;
        margin: 40px 45px;
    }
    .elenco__teste{
        border-radius: 15px;
        background-color: var(--preto);
        height: 200px;
        width: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 8px 20px;
    }

    /* .diretoria__teste{
        border-radius: 15px;
        background-color: var(--preto);
        height: 200px;
        width: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 8px 20px;
    } */

    }
